@keyframes text-scrolling {
  0% {
    transform: translate3d(-60%, 0, 0);
  }
  100% {
    transform: translate3d(20%, 0, 0);
  }
}
@keyframes rolling-left {
  0% {
    transform: translate3d(-10%, 0, 0);
  }
  100% {
    transform: translate3d(80%, 0, 0);
  }
}
@keyframes rolling-right {
  0% {
    transform: translate3d(10%, 0, 0);
  }
  100% {
    transform: translate3d(-80%, 0, 0);
  }
}
html,
body {
  font-size: 62.5%;
}

h1 {
  font-size: 9rem;
  line-height: 0.4;
  text-transform: uppercase;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 3.2rem;
}

p {
  font-size: 1.6rem;
}

span {
  font-size: 3.2rem;
  color: #6b6b6b;
}

li {
  font-size: 1.6rem;
  list-style: none;
}

a {
  font-size: 1.6rem;
  text-decoration: none;
  color: #000;
}
a:hover {
  cursor: pointer;
  color: #ff24bd;
}

@media (max-width: 1240px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 780px) {
  html {
    font-size: 7px;
  }
}
@media (max-width: 680px) {
  html {
    font-size: 5px;
  }
  .main__pallex .pallex__layer3 {
    margin-top: -100%;
  }
  .main__pallex .pallex__layer4 {
    margin-top: -100%;
  }
  .profile {
    flex-direction: column;
    margin-bottom: 40rem;
    height: 90vh;
  }
  .profile__skills {
    margin-bottom: 10rem;
  }
  .profilevisual {
    margin-bottom: 10rem;
  }
  .market,
.illust,
.motion {
    flex-direction: column;
    margin-top: 20rem;
    margin-bottom: 20rem;
  }
  .illust {
    flex-direction: column-reverse;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 4px;
  }
  .main__pallex .pallex__layer3 {
    margin-top: -100%;
  }
  .main__pallex .pallex__layer4 {
    margin-top: -100%;
  }
  .profile {
    flex-direction: column;
    margin-bottom: 40rem;
    height: 90vh;
  }
  .profile__skills {
    margin-bottom: 10rem;
  }
  .profilevisual {
    margin-bottom: 10rem;
  }
  .market,
.illust,
.motion {
    flex-direction: column;
    margin-top: 20rem;
    margin-bottom: 40rem;
  }
  .illust {
    flex-direction: column-reverse;
  }
  .popup_uiux__close,
.popup_illust__close,
.popup_motion__close,
.popup1__close,
.popup2__close,
.popup3__close,
.popup4__close,
.popup5__close,
.popup6__close,
.popup7__close,
.popup8__close,
.popup9__close {
    font-size: 3rem;
  }
  .footer {
    flex-direction: row;
    height: 100rem;
  }
}
.popup_uiux,
.popup_illust,
.popup_motion,
.popup_video,
.popup1,
.popup2,
.popup3,
.popup4,
.popup5,
.popup6,
.popup7,
.popup8,
.popup9 {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  visibility: hidden;
  transition: all 0.3s;
}
.popup_uiux:target,
.popup_illust:target,
.popup_motion:target,
.popup_video:target,
.popup1:target,
.popup2:target,
.popup3:target,
.popup4:target,
.popup5:target,
.popup6:target,
.popup7:target,
.popup8:target,
.popup9:target {
  opacity: 1;
  visibility: visible;
}
.popup_uiux__content,
.popup_illust__content,
.popup_motion__content,
.popup_video__content,
.popup1__content,
.popup2__content,
.popup3__content,
.popup4__content,
.popup5__content,
.popup6__content,
.popup7__content,
.popup8__content,
.popup9__content {
  width: 76vw;
  height: 80vh;
  margin: 10vh auto;
  background-color: #000;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.popup_uiux__content img,
.popup_illust__content img,
.popup_motion__content img,
.popup_video__content img,
.popup1__content img,
.popup2__content img,
.popup3__content img,
.popup4__content img,
.popup5__content img,
.popup6__content img,
.popup7__content img,
.popup8__content img,
.popup9__content img {
  width: 76vw;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.popup_uiux__content video,
.popup_illust__content video,
.popup_motion__content video,
.popup_video__content video,
.popup1__content video,
.popup2__content video,
.popup3__content video,
.popup4__content video,
.popup5__content video,
.popup6__content video,
.popup7__content video,
.popup8__content video,
.popup9__content video {
  width: 94%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup_uiux__close,
.popup_illust__close,
.popup_motion__close,
.popup_video__close,
.popup1__close,
.popup2__close,
.popup3__close,
.popup4__close,
.popup5__close,
.popup6__close,
.popup7__close,
.popup8__close,
.popup9__close {
  border-radius: 50%;
  color: #ff24bd;
  z-index: 1000;
  font-size: 5rem;
  font-weight: 300;
  position: fixed;
  top: 2vh;
  right: 10vw;
  padding-right: 1.2rem;
}

:root {
  --circles: rgb(255, 221, 177);
}

html,
body {
  position: relative;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background 1s ease;
  width: 100vw;
  scroll-behavior: smooth;
}

.gnb {
  width: 100vw;
  height: 7rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 10px;
  z-index: 1;
  position: fixed;
}
.gnb__logo {
  width: 30%;
}
.gnb__logo a {
  font-size: 2.6rem;
  color: #ff24bd;
}
.gnb__list {
  width: 40%;
  display: flex;
  justify-content: space-around;
}
.gnb__list li {
  font-size: 2rem;
}

.wrapper {
  width: 100vw;
  position: relative;
}
.wrapper .deco_line {
  position: absolute;
  bottom: 18%;
  z-index: -1;
  width: 206rem;
}
.wrapper .main {
  position: relative;
}
.wrapper .main .flex {
  align-items: center;
  display: flex;
  justify-content: center;
}
.wrapper .main .scene {
  background: linear-gradient(217deg, rgb(175, 247, 255), rgb(223, 255, 128) 70.71%), linear-gradient(127deg, #ff24bd, rgba(227, 128, 255, 0.958) 70.71%), linear-gradient(336deg, #243aff, rgb(255, 166, 236) 70.71%);
  height: 98vh;
  filter: blur(20px);
  z-index: -1;
  position: relative;
}
.wrapper .main .scene__animation {
  height: 100%;
  width: 100%;
}
.wrapper .main__pallex {
  height: 98vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 1px;
  position: absolute;
  top: 20%;
  right: 0;
  bottom: 0;
  left: 0;
}
.wrapper .main__pallex .pallex {
  position: absolute;
}
.wrapper .main__pallex .pallex__layer1 {
  transform: translateZ(0);
  width: 104rem;
  height: 40rem;
  left: 40%;
}
.wrapper .main__pallex .pallex__layer2 {
  transform: translateZ(-0.5px);
  width: 180rem;
  height: 60rem;
  top: 10%;
  left: 80%;
}
.wrapper .main__pallex .pallex__layer5 {
  transform: translateZ(-1px);
  width: 180rem;
  height: 100rem;
  top: 10%;
  left: -60%;
}
.wrapper .main__pallex .pallex__layer3 {
  transform: translateZ(-2px);
  width: 600rem;
  height: 50rem;
  top: 100%;
  left: -110%;
}
.wrapper .main__pallex .pallex__layer4 {
  transform: translateZ(-3px);
  width: 600rem;
  top: 60%;
  left: -120%;
}
.wrapper .main__txt {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 24%;
  text-align: center;
}
.wrapper .main__txt h1 span {
  font-size: inherit;
  color: #243aff;
}
.wrapper .main__txt p {
  line-height: 1.8;
  font-size: 1.8rem;
}

.profile {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 80rem;
  color: #243aff;
}
.profile__skills {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 6%;
  height: 90em;
}
.profile__skills h4 {
  margin-bottom: 0rem;
  color: #6b6b6b;
}
.profile__skills .skills__uiux,
.profile__skills .skills__des,
.profile__skills .skills__dev {
  display: flex;
  padding: 0;
}
.profile__skills .skills__box {
  width: 7rem;
  height: 7rem;
  border-radius: 1.6rem;
  background-color: #adadad;
  margin-right: 0.8rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.profile__skills .skills .skills__uiux--fig {
  background-image: url(../img/ic_figma.svg);
}
.profile__skills .skills .skills__uiux--xd {
  background-image: url(../img/ic_xd.svg);
}
.profile__skills .skills .skills__des--ps {
  background-image: url(../img/ic_ps.svg);
}
.profile__skills .skills .skills__des--ai {
  background-image: url(../img/ic_ai.svg);
}
.profile__skills .skills .skills__des--id {
  background-image: url(../img/ic_id.svg);
}
.profile__skills .skills .skills__des--pr {
  background-image: url(../img/ic_pr.svg);
}
.profile__skills .skills .skills__des--ru {
  background-image: url(../img/ic_ru.svg);
}
.profile__skills .skills .skills__dev--html {
  background-image: url(../img/ic_html.svg);
}
.profile__skills .skills .skills__dev--css {
  background-image: url(../img/ic_css.svg);
}
.profile__skills .skills .skills__dev--js {
  background-image: url(../img/ic_js.svg);
}
.profile__skills .skills .skills__dev--gh {
  background-image: url(../img/ic_github.svg);
}
.profile__skills .skills .skills__dev--slack {
  background-image: url(../img/ic_slack.svg);
}
.profile__skills .skills .skills__dev--scss {
  background-image: url(../img/ic_sass.svg);
}
.profile__visual {
  width: 54rem;
  height: 73.6rem;
  position: relative;
  margin-right: 12rem;
}
.profile__visual img {
  width: 54rem;
  height: 73.6rem;
}
.profile__visual .deco--ring {
  width: 80rem;
  position: absolute;
  top: 20%;
  left: -20%;
  z-index: -1;
}
.profile__visual .deco--green {
  position: absolute;
  top: 10%;
  left: -20%;
  opacity: 50%;
  z-index: -1;
  width: 22rem;
  height: 22rem;
}
.profile__visual .deco--pink {
  position: absolute;
  top: 84%;
  left: 94%;
  width: 9.8rem;
  height: 9.8rem;
}

.tag {
  display: flex;
  padding: 0;
}
.tag__list {
  margin-right: 8px;
  border: 1px solid #ff24bd;
  border-radius: 100px;
  padding: 6px 20px 8px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #ff24bd;
}

.market {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 84rem;
}
.market__visual {
  width: 90rem;
  height: 60rem;
  border-radius: 0px 300px 300px 0px;
  overflow: hidden;
}
.market__visual .zoomin {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #adadad;
  transition: all 0.5s;
  background-image: url(../img/pro_market.jpg);
}
.market__visual:hover .zoomin, .market__visual:focus .zoomin {
  transform: scale(1.2);
}
.market__txt {
  width: 80rem;
  height: 40rem;
  position: relative;
}
.market__txt p {
  line-height: 1.8;
  margin-top: -2rem;
}
.market__txt a {
  font-size: 1.4rem;
  position: absolute;
  left: 0%;
  color: #6b6b6b;
  margin-top: 6rem;
}

.illust {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 84rem;
}
.illust__visual {
  width: 90rem;
  height: 60rem;
  border-radius: 0px 300px 300px 0px;
  overflow: hidden;
  border-radius: 300px 0px 0px 300px;
}
.illust__visual .zoomin {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #adadad;
  transition: all 0.5s;
  background-image: url(../img/pro_sunmock.jpg);
}
.illust__visual:hover .zoomin, .illust__visual:focus .zoomin {
  transform: scale(1.2);
}
.illust__txt {
  width: 80rem;
  height: 40rem;
  position: relative;
  margin-left: 18%;
}
.illust__txt p {
  line-height: 1.8;
  margin-top: -2rem;
}
.illust__txt a {
  font-size: 1.4rem;
  position: absolute;
  left: 0%;
  color: #6b6b6b;
  margin-top: 6rem;
}

.motion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 84rem;
}
.motion__visual {
  width: 90rem;
  height: 60rem;
  border-radius: 0px 300px 300px 0px;
  overflow: hidden;
}
.motion__visual .zoomin {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #adadad;
  transition: all 0.5s;
  background-image: url(../img/pro-motion.jpg);
}
.motion__visual:hover .zoomin, .motion__visual:focus .zoomin {
  transform: scale(1.2);
}
.motion__txt {
  width: 80rem;
  height: 40rem;
  position: relative;
}
.motion__txt p {
  line-height: 1.8;
  margin-top: -2rem;
}
.motion__txt a {
  font-size: 1.4rem;
  position: absolute;
  left: 0%;
  color: #6b6b6b;
  margin-top: 6rem;
}

.artworks {
  width: 100vw;
  height: 90rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  overflow: hidden;
}
.artworks__box {
  width: 32rem;
  height: 32rem;
  background-color: #adadad;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4rem;
  margin-left: 20px;
}
.artworks__top {
  width: 200rem;
  height: 32rem;
  position: relative;
  left: 14%;
  animation: rolling-right 130s linear infinite;
  will-change: transform;
  white-space: nowrap;
}
.artworks__top ul {
  display: flex;
}
.artworks__top li {
  width: 32rem;
  height: 32rem;
}
.artworks__top--luka {
  background-image: url(../img/pro_luka.jpg);
}
.artworks__top--jeju {
  background-image: url(../img/pro_jeju.jpg);
}
.artworks__top--tiger {
  background-image: url(../img/pro_tiger.jpg);
}
.artworks__top--sun {
  background-image: url(../img/pro_sun.jpg);
}
.artworks__top--summer {
  background-image: url(../img/pro_summer.jpg);
}
.artworks__bottom {
  width: 200rem;
  height: 32rem;
  animation: rolling-left 130s linear infinite;
  will-change: transform;
  white-space: nowrap;
}
.artworks__bottom ul {
  display: flex;
}
.artworks__bottom--event {
  background-image: url(../img/pro_event.jpg);
}
.artworks__bottom--castellevent {
  background-image: url(../img/pro_castellevent.jpg);
}
.artworks__bottom--castellins {
  background-image: url(../img/pro_castellins.jpg);
}
.artworks__bottom--andrew {
  background-image: url(../img/pro_andrew.jpg);
}
.artworks .bg_line {
  width: 100vw;
  height: 120vh;
  position: absolute;
  top: -24%;
  left: 0;
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/line.svg);
  background-size: cover;
}

.footer {
  width: 100vw;
  height: 54rem;
  background: url(../img/bg_gra3.svg);
  color: #fff;
  display: flex;
  position: relative;
}
.footer::before {
  content: "";
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: contain;
  background-image: url(../img/contactme.svg);
  margin-top: -32rem;
  animation: text-scrolling 30s linear infinite;
  will-change: transform;
  white-space: nowrap;
}
.footer__contact {
  position: absolute;
  top: 30%;
  left: 12%;
}
.footer__contact li {
  font-size: 2.2rem;
  line-height: 1.8;
}
.footer__info {
  position: absolute;
  top: 40%;
  right: 12%;
}
.footer__info li {
  font-size: 2.2rem;
  line-height: 1.8;
}

/*scroll bar custom*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fafafa;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}