.popup_uiux,
.popup_illust,
.popup_motion,
.popup1,
.popup2,
.popup3,
.popup4,
.popup5,
.popup6,
.popup7,
.popup8,
.popup9 {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color: #000000, $alpha: 0.8);
  z-index: 999;
  visibility: hidden;
  transition: all 0.3s;

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &__content {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    width: 76vw;
    height: 80vh;

    margin: 10vh auto;

    background-color: $color--white;
    box-shadow: 0 2rem 4rem rgba($color: #000000, $alpha: 0.2);
    border-radius: 10px;
    overflow-y: scroll;
    overflow-x: hidden;

    img {
      width: 76vw;
      display: flex;
      align-items: flex-start;
      justify-content: center;
    }
  }

  // &__img {
  //   display: block;
  //   height: 90vh;
  // }
  &__close {
    // display: inline-block;
    border-radius: 50%;
    color: $color--pink;
    z-index: 1000;
    font-size: 5rem;
    font-weight: 300;
    position: fixed;
    top: 2vh;
    right: 10vw;
    padding-right: 1.2rem;

    // &:hover {
    //   color: $color--pink;
    // }
  }
}
